.markdown-editor-container
    display flex
    justify-content space-around
    align-items stretch
    min-height 500px
    margin-bottom 15px

    > *
        flex-grow 1
        flex-basis 0
        margin 0 5px
        display flex
        flex-direction column

        > *:last-child
            flex-grow 1
            flex-basis 0
