.markdown-editor-container
    display flex
    justify-content space-around
    align-items stretch
    min-height 500px
    margin-bottom 15px

    > *
        flex 1 1 50%
        max-width 50%
        max-height 100%
        margin 0 5px
        display flex
        flex-direction column

        > *:last-child
            flex 1

    .markdown-editor-preview
        p
            font-size 14px

        img
            max-width 100%
