doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    body(bgcolor='#ffffff', topmargin='0' leftmargin='0', marginheight='0', marginwidth='0')
        table(width='100%' cellpadding='0', cellspacing='0', border='0' bgcolor='#ffffff')
            tr
                td(bgcolor='#ffffff', width='100%')
                    table.main-wrapper(width='600' cellpadding='0', cellspacing='0', border='0' align='center', bgcolor='#ffffff')
                        tr
                            td.cell(width='100%')
                                div.wrapper
                                    table.content(width='100%', cellpadding='0', cellspacing='0', border='0')
                                        tr
                                            td.content-cell(width='100%')
                                                //- START OF EMAIL CONTENT

                                                block content

                                                //- END OF EMAIL CONTENT
                                div.container
                                    table.footer(width='100%' border='0' cellspacing='0' cellpadding='0')
                                        tr
                                            td.footer-cell(align='right')
                                                | Sent by Our Wedding Heroes
