{
    "parser": "babel-eslint",
    "extends": "airbnb",

    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "max-len": [2, 140, 2],
        "react/jsx-indent-props": [2, 4],

        // TODO: We have a lot of 'stateless' components look at how to fix this
        "react/prefer-stateless-function": 0

        // TODO: Once estraverse-fb dependency is fixed can be removed from package.json (https://github.com/eslint/eslint/issues/5476)
    }
}
