{
    "parser": "babel-eslint",
    "extends": "airbnb-base",

    "env": {
        "jest": true
    },

    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "max-len": [2, 160, 2],
        "no-continue": 1,
        "comma-dangle": ["error", "always-multiline"],
        "no-restricted-syntax": [
            "error",
            "ForInStatement",
            "LabeledStatement",
            "WithStatement"
        ],

        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": [
                "**/*.test.{js,jsx}",
                "**/webpack.config.*.js"
            ],
            "optionalDependencies": false
        }]
    }
}
