.root
    align-items center
    display flex
    flex-direction column
    justify-content center
    margin 0 10px
    min-height 75%

.container
    max-width 600px
    min-width 50%

.title
    font-size 2em
    margin-bottom 30px
    text-align center

.content
    margin-bottom 20px

.actions
    text-align center

    *:not(:first-child)
        margin-left 5px

@media (max-width 736px)
    .root
        font-size smaller
