$avatar-width = 60px
$top-bottom-margin = 12px

.root
    align-items center
    cursor move
    display flex
    padding 0 16px

.avatar
    border-radius 50%
    height $avatar-width
    margin $top-bottom-margin 16px $top-bottom-margin 0
    width $avatar-width

.textContainer
    flex 1
    margin-right 16px

.name
    font-size 1.2em
    margin $top-bottom-margin 0

.title
    font-size 1em
