.root
    align-items center
    display flex
    flex-direction column
    justify-content center
    margin 15px 10px
    min-height 75%

.container
    max-width 100%
    min-width 33%

.actions
    text-align center
