.root
    flex 1 1 33%
    margin-bottom 20px
    max-width calc(100% / 3)
    padding 6px 12px 0

.avatar
    background-attachment scroll
    background-position center center
    background-repeat no-repeat
    background-size cover
    height 300px
    width 100%

.content
    padding 8px

@media (max-width 1279px)
    .root
        flex 1 1 50%
        max-width calc(100% / 2)

@media (max-width 736px)
    .root
        flex 1 1 100%
        max-width 100%
