.no-match
    display flex
    flex-direction column
    justify-content center
    align-items center
    min-height 75%

    .no-match__title
        margin-bottom 15px

    .no-match__content
        margin-bottom 20px
