.root
    align-items center
    display flex
    flex-direction column
    justify-content center
    margin 15px 10px
    min-height 75%

.container
    min-width 25%

.title
    font-size 2em
    margin-bottom 30px
    text-align center

.content
    margin-bottom 20px

.actions
    text-align center

@media (max-width 736px)
    .root
        font-size smaller
