html
:global(#content)
    height 100%
    width 100%

body
    font-family Quicksand, Helvetica Neue, Helvetica, Arial, sans-serif
    height 100%
    width 100%

@font-face
    font-family Quicksand
    src url('./fonts/Quicksand-Regular.ttf')

:global(.markdown-editor p)
    font-size 14px
