// @stylint off
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700)
// @stylint on

body
html
:global(#app)
    font 14px 'Roboto', sans-serif
    height 100%
    margin 0
    width 100%

*, :after, :before
    box-sizing border-box

:global(.markdown-editor p)
    font-size 14px

:global(.radio)
    margin-top 0

:global(.jumbotron)
    padding-left 60px
    padding-right 60px
