.maximum-size
    width 100%
    height 100%

body
    font-family Quicksand, Helvetica Neue, Helvetica, Arial, sans-serif

@font-face
    font-family: Quicksand
    src url('./fonts/Quicksand-Regular.otf')
