avatar-width = 60px
top-bottom-margin = 12px

.root
    display flex
    align-items stretch
    padding 0 16px
    cursor move

.avatar
    width avatar-width
    height avatar-width
    margin top-bottom-margin 16px top-bottom-margin 0
    border-radius 50%

.textContainer
    flex 1
    margin-right 16px

.name
    font-size 16px
    margin top-bottom-margin 0

.title
    font-size 14px

.description
    font-size 14px
    color rgba(0,0,0,0.54)

.actionContainer
    display flex
    align-items center

    button:last-child
        margin-left 6px
