.basket-summary
    display flex
    flex-direction column
    justify-content center
    align-items center
    min-height 75%
    margin 0 10px

    .basket-summary__container
        min-width 50%
        max-width 100%

        .basket-summary__title
            text-align center
            margin-bottom 30px
            font-size 2em

        .basket-summary__content
            margin-bottom 20px

        .basket-summary__table > tbody > tr > th
            vertical-align middle

        .basket-summary__actions
            text-align center

            *:not(:first-child)
                margin-left 5px

        .form-group
            margin-bottom 0

@media (max-width 736px)
    .basket-summary
        font-size smaller
