.basket-summary
    display flex
    flex-direction column
    justify-content center
    align-items center
    margin-top 50px

.basket-summary__container
    min-width 50%

.basket-summary__title
    text-align center

.basket-summary__actions
    text-align center
