.confirmation
    display flex
    flex-direction column
    justify-content center
    align-items center
    min-height 75%
    margin 0 10px 15px 10px
    text-align center

    .confirmation__title
        margin-bottom 50px
        font-size 2em

    .confirmation__content
        margin-bottom 30px
