.root
    display flex
    flex-direction column
    justify-content center
    align-items center
    min-height 75%
    margin 0 10px 15px 10px
    text-align center

.title
    margin-bottom 50px
    font-size 2em

.content
    margin-bottom 30px
