.root
    display flex
    flex-direction column
    justify-content center
    align-items center
    min-height 75%
    margin 0 10px 15px 10px

.container
    min-width 33%
    max-width 100%

.title
    margin-bottom 30px
