.root
    align-items center
    display flex
    flex-direction column
    justify-content center
    margin 0 10px 15px
    min-height 75%

.container
    max-width 100%
    min-width 33%

.title
    margin-bottom 30px
