.giver-details
    display flex
    flex-direction column
    justify-content center
    align-items center
    min-height 75%

.giver-details__container
    min-width 33%

.giver-details__actions
    text-align center

    *:not(:first-child)
        margin-left 5px
