.giver-details
    display flex
    flex-direction column
    justify-content center
    align-items center
    min-height 75%
    margin 0 10px 15px 10px

    .giver-details__container
        min-width 33%
        max-width 100%

        .giver-details__title
            margin-bottom 30px

        .giver-details__content
            margin-bottom 30px

        .giver-details__actions
            text-align center

            *:not(:first-child)
                margin-left 5px
