maximumSize()
    width 100%
    height 100%

.landing
    maximumSize()

.landing__header
    background url(http://lanarkshireweddings.com/wp-content/uploads/2015/04/Thavorn_Wedding_Phuket_Romantic_Beachside.jpg) no-repeat center center scroll
    background-size cover
    position relative
    display table
    maximumSize()

.landing__header__content
    display table-cell
    text-align center
    vertical-align middle

.landing__header__content__header
    font-size 4.5em
    font-weight 700
