maximumSize()
    width 100%
    height 100%

.landing
    maximumSize()
    margin-top -20px

.landing__header
    background url(http://lanarkshireweddings.com/wp-content/uploads/2015/04/Thavorn_Wedding_Phuket_Romantic_Beachside.jpg) no-repeat center center scroll
    background-size cover
    maximumSize()

.landing__header__content
    position relative
    transform translate(-50%, -50%)
    top 50%
    left 50%
    text-align center

.landing__header__content__header
    font-size 4.5em
    font-weight 700

.landing__section
    padding 50px 0
    text-align center
    margin-left auto
    margin-right auto

.landing__section:before
    display table
    content ' '

.landing__section:after
    display table
    content ' '
    clear both

.landing__section--primary
    color white
    background rgba(31, 119, 180, 0.85)

.landing__section__heading
    text-transform capitalize

.landing__section__container
    text-align left
