.root
    position fixed
    top 0
    right 0
    padding 10px
    background rgba(0, 0, 0, 0.8)
    color #FFFFFF
    display flex
    flex-direction row
    align-items center
    font-size larger

    > *:not(last-child)
        margin-right 6px
