.gift-item
    width calc(100% / 3)
    padding 12px
    display flex

.gift-item--avatar
    width 100%
    height 300px

@media (max-width 1279px)
    .gift-item
        width calc(100% / 2)

@media (max-width 599px)
    .gift-item
        width 100%

    .gift-item--avatar
        height auto
        max-height 300px
