primary-color = white;
alternate-colour = #00aded;

.landing-section
    padding 50px 0
    text-align center

    &:nth-child(odd)
        color #9a9ca7

        a
            color alternate-colour
            text-decoration underline

            &:hover
                color alternate-colour

    &:nth-child(even)
        color white
        background alternate-colour

        a
            color primary-color
            text-decoration underline

            &:hover
                color primary-color

    &:before
        display table
        content ' '

    &:after
        display table
        content ' '
        clear both

    &:last-of-type
        padding-bottom 0

.landing-section__content
    padding-top 10px
    font-size 0.9em
    margin 0 25%

    img
        width 100%
        max-width 500px
        height auto

.landing-section__title
    text-transform capitalize
    text-align center
    font-size 2.5em

@media (max-width 736px)
    .landing-section__content
        margin 0 5%
