.root
    padding 50px 0
    text-align center
    color rgb(154, 156, 167)

    h1, h2, h3, h4, h5, h6
        color rgb(82, 105, 120)

    a
        color rgb(0, 173, 237)
        text-decoration underline

        &:hover
            color rgb(0, 173, 237)

    &:nth-child(even)
        color white
        background #00aded

        h1, h2, h3, h4, h5, h6
            color white

        a
            color white

            &:hover
                color white

    &:before
        display table
        content ' '

    &:after
        display table
        content ' '
        clear both

    &:last-of-type
        padding-bottom 0

.content
    padding-top 10px
    font-size 0.9em
    margin 0 25%

    img
        width 100%
        max-width 500px
        height auto

.title
    text-transform capitalize
    text-align center
    font-size 2.5em

@media (max-width 736px)
    .content
        margin 0 5%
